# CAP risk-management
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
*.sqlite

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
mta-op-8606f255-112c-11ef-b7dc-eeee0a96b18d/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

.env

